body {
	margin: 5%;
}

fieldset {
	margin: 0 0 5% 0;
}

label {
	font-weight: bold;
}

.hide {
	display: none;
}

.checkbox label {
	display: inline;
}

.shortcut-preview {
	margin: 0 .5em;
}

legend label {
	display: inline;
}

#shortcuts-options {
	margin: .5em 1.5em;
}
